// Colors
$white: #ffffff;
$blue: #2f9ee7;
$orange: rgb(255, 196, 0);

$darkBlack: #171614;
$lightBlack4:#444444;
$lightBlack6: #666666;
$lightBlack7: #777777;

// Light theme colors
:root {
  --bg-color: #fafafa;
  --bg-color1: #ffffff;
  --bg-color2: #f9f9f9;
  --bg-color3:#f1f1f1;
  --bg-header: #202020;
  --bg-header2: #121212;
  --header-text: #525252;
  --header-border:#ccc;
  --header-border-focus:#1c62b9;

  --bg-header-input:#121212;
  --bg-header-text:#888888;
  --bg-header-item:#606060;
  --bg-header-find:#f8f8f8;
  --bg-header-ico:##818181;

  --title: #606060;
  --title2:#303030;
  --subtitle: #aaaaaa;

  --text-active: #030303;

  --text-bg: #e6e6e6;
  --item-bg:#e5e5e5;

  --scroll:#909090;
}

// Dark theme colors
:root[theme='dark'] {
  --bg-color: rgb(49, 49, 49);
  --bg-color1: #202020;
  --bg-color2: #181818;
  --bg-color3:#0f0f0f;
  --bg-header: #202020;
  --bg-header2: #121212;
  --header-text: #525252;
  --header-border:#ccc;
  --header-border-focus:#1c62b9;
  
  --bg-header-input:#121212;
  --bg-header-text:#828282;
  --bg-header-item:#ffffff;
  --bg-header-find:#323232;
  --bg-header-ico:#6f6f6f;

  --title: #fdfdfd;
  --title2:#949494;
  --subtitle: #aaaaaa;

  --text-active: #030303;

  --text-bg: #e6e6e6;
  --item-bg:#272727;

  --scroll:#909090;

  // --nav-bg-color: var(--main-hue);
}
